*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    display: flex;
}
#list_part{
    width: 20%;
    height: 100vh;
    background-color: rgb(216, 216, 216);
    padding: 30px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.baslik{
    margin-bottom: 20px;
    font-size: 25px;
}
.baslik a{
    text-decoration: none;
    color: black;
}
.kategori{
    margin: 20px;
    font-size: 15px;
}
.book_name{
    margin-left: 30px;
    font-style: italic;
    font-size: 12px;
}
.book_name a{
    text-decoration: none;
    color: black;
}
.book_name a:hover{
    color: rgb(255, 0, 0);
}
#book_part{
    width: 80%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book_part2{
    width: 80%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.book_part_bolum{
    width: 27%;
    height: 45%;
    border: 1px solid greenyellow;
}
.kate_kitap{
    width: 100%;
    height: 20%;
    color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid greenyellow;
}
.ikili_alan{
    width: 100%;
    height: 80%;
    display: flex;

}
.kitap1-2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid greenyellow;
}
.kitap1-2 img{
    width: 90%;
    height: 90%;
}


.name_and_pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
.main_bookname{
    color: greenyellow;
    font-style: italic;
}
.book_pic{
    width: 200px;
    height: 300px;
}
.book_info{
    display: flex;
    flex-direction: column;
    width: 70%;
    color: white;
    text-align: center;
    margin-top: 30px;
    gap: 20px;

}
.book_info p{
    font-size: 13px;

}